@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500&display=swap');

//fonts
$mainFont: 'Lato', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;

//text sixing
$textSm:15px;
$textMd:1.8rem;
$textLg:50px;
$textMs:30px;

//font - weight
$bold:600;
$regular:400;
$light:300;